[manifest]
version = "1.0.0"
dump_lua = true
priority = 0




# Make so Buff Joker procs before the other jokers with a Blind select effect
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.GAME.blind:set_blind(G.GAME.round_resets.blind)
'''
position = 'after'
payload = '''
for i = 1, #G.jokers.cards do
    if G.jokers.cards[i].ability.name == 'Buff Joker' then
        G.jokers.cards[i]:calculate_joker({setting_blind = true, blind = G.GAME.round_resets.blind})
    end
end
'''
match_indent = true



# Next 3 patches for multiple copy incompatibility (ankh + invis)

## Make so Ankh doesn't pick the Buff Joker
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
local chosen_joker = pseudorandom_element(G.jokers.cards, pseudoseed('ankh_choice'))
'''
position = 'at'
payload = '''
local chosen_joker
repeat
chosen_joker = pseudorandom_element(G.jokers.cards, pseudoseed('ankh_choice'))
until chosen_joker.ability.name ~= 'j_CTEH_buff_joker'
'''
match_indent = true



## Make so Ankh unusable when only Buff Joker in Joker roaster
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if v.ability.set == 'Joker' and G.jokers.config.card_limit > 1 then
'''
position = 'at'
payload = '''
if v.ability.set == 'Joker' and v.ability.name ~= 'j_CTEH_buff_joker' and G.jokers.config.card_limit > 1 then
'''
match_indent = true



## Make Invis Joker not pick the Buff Joker
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if G.jokers.cards[i] ~= self then
'''
position = 'at'
payload = '''
if G.jokers.cards[i] ~= self and G.jokers.cards[i].ability.name ~= 'j_CTEH_buff_joker' then
'''
match_indent = true



# Rest patches fix some debuff incompatibilities

# Make rental not calc when for debuffed jokers
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:calculate_rental()
'''
position = 'after'
payload = '''
if self.ability.perma_debuff then return nil end
'''
match_indent = true

# Make certain jokers calling calculate_joker() not work when debuffed 
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:calculate_joker(context)
'''
position = 'after'
payload = '''
if self.ability.perma_debuff then return nil end
'''
match_indent = true



# Make so end of round doesn't negate certain jokers' debuff
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:add_to_deck(from_debuff)
'''
position = 'after'
payload = '''
if self.ability.perma_debuff then return nil end
'''
match_indent = true



# Make so Troubadour isn't special avoiding every debuff mechanics 
# (otherwise the hand count will be delayed by a single round, eventhough the variable 
# G.GAME.current_round.hands_left is how it's supposed to be during the round)

# Implementation: make it like Burglar (effect on blind select, not on buy/sell joker, dw it's not bp compatible)
# Next 3 patches rework Troubadour's hand count effect timings

## Make effect start of round
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'Burglar' and not (context.blueprint_card or self).getting_sliced then
'''
position = 'before'
payload = '''
if self.ability.name == 'Troubadour' and not (context.blueprint_card or self).getting_sliced then
    G.E_MANAGER:add_event(Event({func = function()
        ease_hands_played(self.ability.extra.h_plays)
    return true end }))
end
'''
match_indent = true



## Remove effect add-to-deck
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.GAME.round_resets.hands = G.GAME.round_resets.hands + self.ability.extra.h_plays
'''
position = 'at'
payload = '''
-- G.GAME.round_resets.hands = G.GAME.round_resets.hands + self.ability.extra.h_plays
'''
match_indent = true



## Remove effect remove-from-deck
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.GAME.round_resets.hands = G.GAME.round_resets.hands - self.ability.extra.h_plays
'''
position = 'at'
payload = '''
-- G.GAME.round_resets.hands = G.GAME.round_resets.hands - self.ability.extra.h_plays
'''
match_indent = true



# Make Needle + Troubadour not leave you empty-handed
[[patches]]
[patches.pattern]
target = "common_events.lua"
pattern = '''
G.GAME.current_round.hands_left = G.GAME.current_round.hands_left + mod
'''
position = 'at'
payload = '''
G.GAME.current_round.hands_left = (math.max(1, G.GAME.current_round.hands_left + mod))
'''
match_indent = true