[manifest]
version = "1.0.0"
dump_lua = true
priority = 0



# Reworks to game elements:

####################################################################################
# Planet Tycoon

# Make Planet Tycoon give double planet levels
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''
amount = amount or 1
'''
position = 'at'
payload = '''
if G.GAME.used_vouchers["v_planet_tycoon"] then
        amount = 2 * amount or 2
else 
        amount = amount or 1
end
'''
match_indent = true



# Make Planet Tycoon weights be as heavy as Planet Merchant
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''
        v_planet_tycoon=    {order = 20,     discovered = false, unlocked = false, available = true,cost = 10, name = "Planet Tycoon", pos = {x=2,y=1}, set = "Voucher", config = {extra = 32/4, extra_disp = 4}, requires = {'v_planet_merchant'},unlock_condition = {type = 'c_planets_bought', extra = 50}},
'''
position = 'at'
payload = '''
        v_planet_tycoon=    {order = 20,     discovered = false, unlocked = false, available = true,cost = 10, name = "Planet Tycoon", pos = {x=2,y=1}, set = "Voucher", config = {extra = 9.6/4, extra_disp = 2}, requires = {'v_planet_merchant'},unlock_condition = {type = 'c_planets_bought', extra = 50}},
'''
match_indent = true



####################################################################################
# Magic Trick and Illusion

# Makes Magic Trick always have enhanced cards and illusion have 20% seals (as it has 20% editions)

## Always pick 'Enhanced' when any playing_card_rate
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
{type = (G.GAME.used_vouchers["v_illusion"] and pseudorandom(pseudoseed('illusion')) > 0.6) and 'Enhanced' or 'Base', val = G.GAME.playing_card_rate},
'''
position = 'at'
payload = '''
{type = 'Enhanced', val = G.GAME.playing_card_rate},
'''
match_indent = true



## Seal RNG (20% of cards)
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
if (v.type == 'Base' or v.type == 'Enhanced') and G.GAME.used_vouchers["v_illusion"] and pseudorandom(pseudoseed('illusion')) > 0.8 then 
'''
position = 'before'
payload = '''
if (v.type == 'Base' or v.type == 'Enhanced') and G.GAME.used_vouchers["v_illusion"] and pseudorandom(pseudoseed('illusion')) > 0.8 then 
local seal_poll = pseudorandom(pseudoseed('illusion'))
local result_seal
if seal_poll >= 0.75 then result_seal = 'Red'
elseif seal_poll >= 0.5 then result_seal = 'Gold'
elseif seal_poll >= 0.25 then result_seal = 'Purple'
else result_seal = 'Blue'
end
card:set_seal(result_seal)
end
'''
match_indent = true



## (Doesn't work, doesn't break) Seal prices +$3
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:set_cost()
'''
position = 'after'
payload = '''
if self.seal then
    self.extra_cost = self.extra_cost + 3
end
'''
match_indent = true