[manifest]
version = "1.0.0"
dump_lua = true
priority = 2147483601



# Introducing the interest rate (revamping the interest_cap, so that changing one variable doesn't have to force a change to another variable)
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
interest_cap = 25,
'''
position = 'at'
payload = '''
interest_cap = 5,
interest_rate = 5,
'''
match_indent = true



# Modifying the values for Seed money and Money tree vouchers as multipliers so they're not hard coded $50 and $100
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
v_seed_money=       {order = 21,    discovered = false, unlocked = true , available = true, cost = 10, name = "Seed Money", pos = {x=1,y=2}, set = "Voucher", config = {extra = 50}},
'''
position = 'at'
payload = '''
v_seed_money=       {order = 21,    discovered = false, unlocked = true , available = true, cost = 10, name = "Seed Money", pos = {x=1,y=2}, set = "Voucher", config = {extra = 2}},
'''
match_indent = true



[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
v_money_tree=       {order = 22,    discovered = false, unlocked = false, available = true, cost = 10, name = "Money Tree", pos = {x=1,y=3}, set = "Voucher", config = {extra = 100}, requires = {'v_seed_money'},unlock_condition = {type = 'interest_streak', extra = 10}},
'''
position = 'at'
payload = '''
v_money_tree=       {order = 22,    discovered = false, unlocked = false, available = true, cost = 10, name = "Money Tree", pos = {x=1,y=3}, set = "Voucher", config = {extra = 2}, requires = {'v_seed_money'},unlock_condition = {type = 'interest_streak', extra = 10}},
'''
match_indent = true



# Editing variables related to the vouchers Seed money and Money tree

## we don't need these with the updated voucher description (current implementation not fully correct), but
## for dynamic UI it would need to check at all times if any voucher is already acquired to decide whether or not to multiply

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
elseif _c.name == "Seed Money" or _c.name == "Money Tree" then loc_vars = {_c.config.extra/5}
'''
position = 'at'
payload = '''
elseif _c.name == "Seed Money" then loc_vars = {G.GAME.interest_cap * _c.config.extra}
elseif _c.name == "Money Tree" then loc_vars = {G.GAME.interest_cap * _c.config.extra * _c.config.extra}
'''
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
table.insert(left_text,{n=G.UIT.O, config={object = DynaText({string = {" "..localize{type = 'variable', key = 'interest', vars = {G.GAME.interest_amount, 5, G.GAME.interest_amount*G.GAME.interest_cap/5}}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, pop_in = 0, scale = 0.4*scale, silent = true})}})
'''
position = 'at'
payload = '''
table.insert(left_text,{n=G.UIT.O, config={object = DynaText({string = {" "..localize{type = 'variable', key = 'interest', vars = {G.GAME.interest_amount, G.GAME.interest_rate, G.GAME.interest_amount * G.GAME.interest_cap}}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, pop_in = 0, scale = 0.4*scale, silent = true})}})
'''
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.GAME.interest_cap = center_table.extra
'''
position = 'at'
payload = '''
G.GAME.interest_cap = center_table.extra * G.GAME.interest_cap
'''
match_indent = true



## Next 4 patches from a single if-statement
### 1
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
if G.GAME.dollars >= 5 and not G.GAME.modifiers.no_interest then
'''
position = 'at'
payload = '''
if G.GAME.dollars >= G.GAME.interest_rate and not G.GAME.modifiers.no_interest then
'''
match_indent = true

### 2
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)})
'''
position = 'at'
payload = '''
add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/G.GAME.interest_rate), G.GAME.interest_cap)})
'''
match_indent = true

### 3 (G.GAME.interest_amount multiplication redundant)
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
if G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5) == G.GAME.interest_amount*G.GAME.interest_cap/5 then
end
'''
position = 'at'
payload = '''
if math.min(math.floor(G.GAME.dollars/G.GAME.interest_rate), G.GAME.interest_cap) == G.GAME.interest_cap then
end
'''
match_indent = true

### 4
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)
'''
position = 'at'
payload = '''
dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/G.GAME.interest_rate), G.GAME.interest_cap)
'''
match_indent = true



# Editing around joker To the moon
## Make interest rate be dynamic UI component
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
elseif self.ability.name == 'To the Moon' then loc_vars = {self.ability.extra}
'''
position = 'at'
payload = '''
elseif self.ability.name == 'To the Moon' then loc_vars = {self.ability.extra,G.GAME.interest_rate}
'''
match_indent = true



## Rework price to be related to interest rate
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
j_to_the_moon=      {order = 84,  unlocked = true,  discovered = false, blueprint_compat = false, perishable_compat = true, eternal_compat = true, rarity = 2, cost = 5, name = "To the Moon",set = "Joker", config = {extra = 1}, pos = {x=8,y=13}},
'''
position = 'at'
payload = '''
j_to_the_moon=      {order = 84,  unlocked = true,  discovered = false, blueprint_compat = false, perishable_compat = true, eternal_compat = true, rarity = 2, cost = (G.GAME and G.GAME.interest_rate) or 5, name = "To the Moon",set = "Joker", config = {extra = 1}, pos = {x=8,y=13}},
'''
match_indent = true