[manifest]
version = "1.0.0"
dump_lua = true
priority = 0



# Trigger Lucky mirror joker for each timer downtick
[[patches]]
[patches.pattern]
target = '=[SMODS Multiplayer "ui/hud.lua"]'
pattern = '''
MP.GAME.timer = MP.GAME.timer - 1
'''
position = 'after'
payload = '''
for i = 1, #G.jokers.cards do
    if G.jokers.cards[i].ability.name == 'j_CTEH_lucky_mirror' and SMODS.pseudorandom_probability(card, "lucky_mirror_timer", 1, MP.GAME.timer) then
        G.jokers.cards[i].ability.additional_probability = G.jokers.cards[i].ability.additional_probability + 1
        MP.GAME.multi_player:increase_additive_value(1)
    end
end
'''
match_indent = true