[manifest]
version = "1.0.0"
dump_lua = true
priority = 0




# Trigger Lucky mirror joker for each timer downtick
[[patches]]
[patches.pattern]
target = '=[SMODS Multiplayer "ui/hud.lua"]'
pattern = '''
MP.GAME.timer = MP.GAME.timer - 1
'''
position = 'after'
payload = '''
for i = 1, #G.jokers.cards do
    -- I hope it's 'Lucky mirror' and not 'j_CTEH_lucky_mirror', it's so inconsistent at times...
    if G.jokers.cards[i].ability.name == 'Lucky mirror' then
        G.jokers.cards[i].ability.additional_probability = G.jokers.cards[i].ability.additional_probability + 1
        multi_player:increase_additive_value(1)
    end
end
'''
match_indent = true