[manifest]
version = "1.0.0"
dump_lua = true
priority = 0



# Make Planet Tycoon give double planet levels
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''
amount = amount or 1
'''
position = 'at'
payload = '''
if G.GAME.used_vouchers["v_planet_tycoon"] then
        amount = 2 * amount or 2
else 
        amount = amount or 1
end
'''
match_indent = true



# Make Planet Tycoon weights be as heavy as Planet Merchant
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''
        v_planet_tycoon=    {order = 20,     discovered = false, unlocked = false, available = true,cost = 10, name = "Planet Tycoon", pos = {x=2,y=1}, set = "Voucher", config = {extra = 32/4, extra_disp = 4}, requires = {'v_planet_merchant'},unlock_condition = {type = 'c_planets_bought', extra = 50}},
'''
position = 'at'
payload = '''
        v_planet_tycoon=    {order = 20,     discovered = false, unlocked = false, available = true,cost = 10, name = "Planet Tycoon", pos = {x=2,y=1}, set = "Voucher", config = {extra = 9.6/4, extra_disp = 2}, requires = {'v_planet_merchant'},unlock_condition = {type = 'c_planets_bought', extra = 50}},
'''
match_indent = true

