[manifest]
version = "1.0.0"
dump_lua = true
priority = 0


####################################################################################
# Beaned

# Makes Beaned sticker give handsize
## When acquired
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
self.added_to_deck = true
'''
position = 'after'
payload = '''
if self.ability.beaned then
    G.hand:change_size(1)
end
'''
match_indent = true



## When removed
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
self.added_to_deck = false
'''
position = 'after'
payload = '''
if self.ability.beaned then
    G.hand:change_size(-1)
end
'''
match_indent = true



####################################################################################
# Paycheck

# Makes paycheck sticker give interest
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
local used_tarot = copier or self
'''
position = 'after'
payload = '''
if self.ability.paycheck then
    local dollars_to_gain = get_total_interest()
    play_sound('timpani')
    used_tarot:juice_up(0.3, 0.5)
    ease_dollars(dollars_to_gain, true)
end
'''
match_indent = true