[manifest]
version = "1.0.0"
dump_lua = true
priority = 0


####################################################################################
# Beaned

# Makes Beaned sticker give handsize
## When acquired
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
self.added_to_deck = true
'''
position = 'after'
payload = '''
if self.ability.beaned then
    G.hand:change_size(1)
end
'''
match_indent = true



## When removed
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
self.added_to_deck = false
'''
position = 'after'
payload = '''
if self.ability.beaned then
    G.hand:change_size(-1)
end
'''
match_indent = true



####################################################################################
# Paycheck

# Makes paycheck sticker give interest
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
local used_tarot = copier or self
'''
position = 'after'
payload = '''
if self.ability.paycheck then
    generate_interest()
end
'''
match_indent = true



# Makes Wheel of Fortune usable if it has the Paycheck sticker with no jokers to apply edition to
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if next(self.eligible_strength_jokers) then return true end
'''
position = 'at'
payload = '''
if next(self.eligible_strength_jokers) or self.ability.paycheck then return true end
'''
match_indent = true



# Makes Wheel of Fortune not search for eligible cards when there aren't any
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
local eligible_card = pseudorandom_element(temp_pool, pseudoseed(
'''
position = 'before'
payload = '''
if not next(self.eligible_strength_jokers) and self.ability.name == 'The Wheel of Fortune' then return true end
'''
match_indent = true